#components-layout-demo-side .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }
  .data{
    transform: translateX(600px);
  }

  .site-layout .site-layout-background {
    background: #fff;
    text-align: right;
    margin-right: 10px;
  
  }
  .site-layout .site-layout-content {
    background: #fff;
    text-align: left;
    margin-right: 10px;
  }
  .Type{
    position: relative;
    left: 40%;
    min-width: 100px;
  }
  .Search{
    position: relative;
    left: 10%;
    max-width: 400px;
  }