.PhotoTool_header_nav {
  background-color: rgb(162, 199, 157);
  min-height: 100px;
}

.PhotoTool_left_nav {
  background-color: rgb(85, 201, 62);
  width: 200px;
}

.PhotoTool_photo_content {
  background-color: rgb(35, 26, 158);
  width: 80%;
  min-height: 300px;
}

.PhotoTool_right_nav {
  background-color: rgb(33, 152, 156);
  width: 200px;
}
